<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:label="${extName}">

        <meta-data
            android:name="yokai.novel.extension"
            android:value="true" />

        <meta-data
            android:name="yokai.novel.extension.class"
            android:value="${extClass}" />

        <meta-data
            android:name="yokai.novel.extension.nsfw"
            android:value="${extNsfw}" />

    </application>

</manifest>
